@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Public+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --light: #f7f7f7;
  --dark: #222222;
  --primary: #7cb45c;
  --primary-darker: #568c37;
  --secondary: #4195d2;
  --tertiary: #380c0a;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--light);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "DM Sans", sans-serif;
}

h5,
h6,
p,
a,
button,
input,
textarea,
li {
  font-family: "Public Sans", sans-serif;
}

section {
  padding: 96px;
}

#home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.8)),
    url(./assets/image/home-bg.png);
  background-position: center;
  background-size: cover;
}

.home-body {
  gap: 1rem;
}

.about-btn {
  border: solid 1px var(--primary);
  color: var(--primary);
  border-radius: 0.5rem;
  background: none;
  transition: ease-in-out 0.25s;
}

.about-btn:hover {
  border: solid 1px var(--primary);
  color: var(--light);
  border-radius: 0.5rem;
  background: var(--primary);
  transition: ease-in-out 0.25s;
}

#services {
  background-color: #f7f7f7;
  padding: 4%;
}

.services-description {
  width: 86%;
}

.card-services-icon img {
  width: auto;
  height: 4rem;
}

.card-services {
  width: 360px;
  box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.125);
  border-radius: 1.5rem;
  background-color: white;
  margin: 1%;
  padding: 3%;
}

.card-text h2 {
  font-weight: bold;
  font-size: 28px;
}

.card-text p {
  font-weight: normal;
  font-size: 16px;
}

.card-services-icon {
  width: 96px;
  height: 96px;
  padding: 2.5%;
  border-radius: 100%;
}

.csi-1 {
  background-color: #c2eba2;
}

.csi-2 {
  background-color: #f5dedc;
}

.csi-3 {
  background-color: #c3f5f5;
}

.cs-1 {
  background-color: #e0ffc0;
}

.cs-2 {
  background-color: #fff2f0;
}

.cs-3 {
  background-color: #ebffff;
}

.card-product {
  background-image: linear-gradient(
    rgba(44, 44, 44, 0.9),
    rgba(51, 51, 51, 0.8)
  );
  border-radius: 2.5rem;
  padding: 4%;
}

.content-img {
  display: flex;
  position: relative;
}

.content-img .img-wrap {
  position: absolute;
  right: 20;
  bottom: 0;
}

.content-img .img-wrap img {
  width: auto;
  height: 32rem;
}

.testimonial-card {
  min-height: 250px;
  width: 450px;
  background-color: #f6f6f6;
  border-radius: 22px;
  padding: 2%;
}

.t-card-img img {
  width: 8rem;
  height: auto;
  display: block;
}

.t-card-names {
  text-align: center;
}

.t-card-company-name {
  color: var(--secondary);
}
